body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  font-size: 15px !important;
}

.filt-panel {
  margin-top: 10px;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.text-title {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.3rem;
  margin: 2.5rem 0 1rem 0;
}

.items-container .cart-footer {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.items-container .total {
  font-weight: 500;
  font-size: 1.1rem;
  display: inline-block;
}

.total p span {
  font-weight: 600;
}

.items-container .empty-cart {
  color: gray;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}

.details-container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 500px) {
  .details-container {
    padding: 1rem 0;
  }
}

.details-container .desc-container {
  background: white;
  position: relative;
  padding: 0 !important;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.desc-container .product-headings {
  padding: 2rem 0.8rem;
}

.product-headings .price-number {
  background: green;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  margin-left: 5px;
  color: white;
}

.product-info-container {
  border-top: 1px solid #fafafa;
}

.product-info-heading {
  padding: 1rem 0.8rem;
  border-bottom: 1px solid #fafafa;
}

.product-info-container .product-info {
  color: #484b4d;
  padding: 0 0.8rem 4rem;
}

.detail-btn {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding: 0.5rem 0.8rem;
  margin-top: 10px;
}

.detail-btn .btn-add-to-cart {
  margin-left: 0.3rem;
}

.detail-btn .btn-back-to-product {
  margin-right: 0.3rem
}

.detail-button-back {
  border-radius: 3px;
  border: 1px solid black;
  color: tomato;
  background: white;
  outline: 0;
  cursor: pointer;
  padding: 5px 10px;
  background: white;
  text-transform: uppercase
}

.detail-button-back:hover {
  background: green;
  color: white;
}

.detail-button-back:focus {
  outline: 0;
}

.detail-button-add {
  border-radius: 3px;
  border: 1px solid black;
  color: goldenrod;
  background: white;
  outline: 0;
  cursor: pointer;
  padding: 5px 10px;
  background: white;
  text-transform: uppercase
}

.detail-button-add:hover {
  background: #dc3545;
  color: white;
}

.detail-button-add:focus {
  outline: 0;
}

.about-title {
  margin-top: 50px;
}