nav i span {
  font-family: 'Quicksand', sans-serif !important;
  margin-left: 6px;
}

.nav-header {
  background: #484b4d !important;
}

.nav-header .nav-link {
  color: white;
}

.nav-header .nav-link:hover {
  color: green;
}

.nav-header i.navbar-brand {
  color: green;
  font-size: 2rem;
}

.cart-button {
  color: green;
  border-radius: 3px;
  border: 1px solid transparent;
  background: white;
  outline: 0;
  cursor: pointer;
  padding: 5px 10px;
  padding-right: 15px;
  background: white;
  text-transform: uppercase;
  position: relative;
}

.cart-icon {
  font-size: 1.8rem;
}

.cart-icon .badge {
  font-size: 13px;
  position: absolute;
  top: 8px;
  right: 7px;
  border-radius: 50%;
}

.cart-button:hover {
  background: green;
  color: white;
}

.cart-button:focus {
  outline: 0;
}